@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Varela+Round&display=swap');
@keyframes SlideIn {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes Rotation {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(160deg);
    }

    100% {
        transform: rotate(360deg)
    }
}
*,
*::before,
*::after {
  margin: 5px;
  
  box-sizing: border-box;
}


:root {
--body-font: "Varela Round", sans-serif;
--brand-font: "Sriracha";


}

/* barre de navigation */

.nav {
    margin-top: 0%;
    padding: 40px 0px 40px 0px;
    background-color:#383e56;
    margin: 0%;
    display:flex;
   
    
}

.brand {
margin-left: 40px;
width: 40%;
color: aliceblue;
display:flex;
justify-content: center;
font-family: var(--brand-font);

}

.menu {
    width: 50%;
    display:flex;
    align-items:flex-end;
    justify-content: space-around;
    font-family: var(--body-font);
    color:aliceblue;
}

.text-light {
    text-decoration: none;
}




/* dopdown-menu */

.dropbtn {
    background-color: hsl(228, 21%, 28%);
    color: aliceblue;
    border: none;
    text-decoration: none;

}

.dropdown {
    position : relative;
    display: inline-block; 

}

.dropdown-content {
    display: none; 
    position: absolute; 
    background-color: #383e56;
    border-top: 8px solid;
    border-top-color: #d65050;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color:aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display:block; 
}

.dropdown-content a:hover {
    background-color:#d65050;
    color: aliceblue;
}

.dropdown:hover .dropdown-content {
    display : block ;
   

}

.dropdown:hover .dropbtn {
    background-color:#383e56;
}

/* section activité */

.title-head {
    margin-top: 40px;
    margin-left: 550px;
    margin-right: 500px;
    text-align: center;
    text-transform: uppercase;
    color: #d65050;
    border-bottom: 2px solid;
    border-color: #383e56;
    
    
  
}

.activity {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: var(--body-font)
}

.card {
    margin-top: 2em;
    display: flex;
    align-items:center;
    
}

.svg {
    margin-top: 10px;
}
.card-title {
    margin-top: 1em;
    color: #d65050;
    
    

}

.card-text {
    display:flex;
    align-items:center;
    text-align: center;
    font-family: var(--body-font)


}

/* section professeur */ 

.title-professor {
    margin-top: 40px;
    margin-left: 490px;
    margin-right: 500px;
    text-align: center;
    text-transform: uppercase;
    color: #d65050;
    border-bottom: 2px solid;
    border-color: #383e56;
}

.professor {
    margin-top: 40px;
    display:flex;
    justify-content:center;
    

}

.img1 {
    background-color:#d65050;
    display: none;
    

    
}


img:hover + div.img1 {
    display :block;
    padding: 40px 30px 40px 30px;
    animation: SlideIn ease-in-out 2s;
    
}

.text-professor {
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
    
}

.text-professor > h5 {
    color:#d65050;
    

}

/* section événement */

.title-event {
    margin-top: 40px;
    margin-left: 490px;
    margin-right: 500px;
    text-align: center;
    text-transform: uppercase;
    color: #d65050; 
    border-bottom: 2px solid;
    border-color: #383e56;
}


.events {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: var(--body-font)
}
  

.card-body{
    display:flex;
    justify-content:center;
    flex-direction: column;

}

a .btn {
    width: 20px;
} 

/* section count */

.count{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:#d65050;
    display: flex;
    justify-content:center;
    flex-direction:row;
    
}

.count> .card {
    border : none;
    background-color:#d65050;
    color: aliceblue;
    padding: 40px 50px 40px 50px;
    
}

.card-body {
    
    display:flex;
    justify-content: center;
    align-items: center;

}

div.card-body> svg {
    width: 80px;
    height: 80px; 
    margin-bottom: 30px;  
}
div.card-body> svg:hover {
    animation: Rotation linear 2s;
    
}


div.card-body> .number {
    font-size: 50px;

    
}

